

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


/* ---------------------------------------------HEADER-------------------------------------------------------------- */
.header {
  grid-area: header;
  background-color: #3db2e4d9;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;

}

.header h1 {
  text-align: center;
}

.nav__header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav__header ul a {
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;   
}



@media (min-width: 1024px) {
  .header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .header nav {
      width: 40%
  }
}


/* ----------------------------------------------MAIN------------------------------------------------------------- */
main h3 {
  font-weight: 700;
  text-align: center;
}

main p {
  font-weight: 400;
  text-align: center;
}

/* --------------------------------------------cards-------------------------------------------------------- */
.section__productos {
  grid-area: productos;
  display: flex;
  justify-content: space-around;

}

.card__producto {
  border: solid 2px rgba(0, 0, 0, 0.434);
  width: 250px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 5px 5px #049CDC;
  opacity: 0.6;
  transition: 2s;
}

.card__producto img {
  width: 100%;
}

.card__producto h3 {
  text-align: center;
}

.card__producto p {
  margin: 10px auto;
  text-align: center;
}

.card__producto a {
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0.479);
  padding: 5px 10px;
  background-color: #049CDC;
  color: white;
  border-radius: 10px;
}

.card__producto a:hover {
  background-color: #3db2e4d9;
  color: white;
}

.card__producto:hover{
  opacity: 1;
}

/* ------------------------------------------FOOTER----------------------------------------------------------------- */
.footer {
  grid-area: footer;
  background-color: #3db2e4d9;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-align: center;
  color: white;
  text-decoration: none;
}

.footer a:hover {

  color: white;
  background-color: #049bdc3c;
}

.footer p {
  text-align: center;
  padding-top: 20px;
  font-weight: 100;
  font-size: 1rem;
  color: white;

}

.nav__footer {
  width: 20%;
}

.nav__footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
  list-style: none;
}


@media (min-width: 1024px) {
  .footer {
      grid-area: footer;
      background-color: #3db2e4d9;
      height: 15vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      align-items: center;
  }

  .footer a {
      color: white;
      text-decoration: none;
  }

  .footer a:hover {
      color: white;
      background-color: #049bdc3c;
  }

  .footer p {
      font-weight: 100;
      font-size: 1rem;
      color: white;

  }

  .nav__footer {
      width: 20%;
  }

  .nav__footer ul li {
      display: inline-block;
  }


  .nav__footer ul {
      display: flex;
      justify-content: space-between;
  }
}

/* FIN ESTILOS GENERALES */



/* PISCINAS */

.section__titulo__piscinas {
  font-weight: 700;
  font-size: 1.4rem;
  border: 1px solid rgba(0, 0, 0, 0.637);
  text-align: center;
  background-color: rgba(128, 128, 128, 0.648);
  color: rgba(0, 0, 0, 0.613);

}

.section__piscinas {
  display: flex;
  justify-content: space-around;

}

.card__piscinas {
  border: solid 2px rgba(0, 0, 0, 0.434);
  width: 50%;
  margin: 2px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__piscinas img {
  width: 100%;
}

.card__piscinas h3 {
  text-align: center;
}

.card__piscinas p {
  margin: 10px auto;
  text-align: center;
}

.card__piscinas a {
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0.479);
  padding: 5px 10px;
  background-color: #049CDC;
  color: white;
  border-radius: 10px;
}

.card__piscinas a:hover {
  background-color: #3db2e4d9;
  color: white;
}

@media (min-width: 1024px) {
  .section__piscinas {
      display: flex;
      justify-content: space-around;
  
  }
  
  .card__piscinas {
      border: solid 2px rgba(0, 0, 0, 0.434);
      width: 250px;
      margin: 10px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .card__piscinas img {
      width: 100%;
  }
  
  .card__piscinas h3 {
      text-align: center;
  }
  
  .card__piscinas p {
      margin: 10px auto;
      text-align: center;
  }
  
  .card__piscinas a {
      text-decoration: none;
      border: 2px solid rgba(0, 0, 0, 0.479);
      padding: 5px 10px;
      background-color: #049CDC;
      color: white;
      border-radius: 10px;
  }
  
  .card__piscinas a:hover {
      background-color: #3db2e4d9;
      color: white;
  }
}

/* NOSOTROS */
.img__nosotros {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 100%;
  height: auto;
}

.parrafo__nosotros {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align:justify;
  padding: 5px;
}


@media (min-width: 1024px) {
  .img__nosotros {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 80px;
      margin-bottom: 80px;
  }
  
  .parrafo__nosotros {
      margin-top: 50px;
      margin-bottom: 50px;
  }
}


/* CONTACTO */

.formulario__contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.campo__contacto {
  padding: 10px;
}


/* INDEX */
.grid__contenedor__index {
  grid-template-columns: 100%;
  grid-template-rows: 15vh 60vh 15vh 10vh;
  grid-template-areas: "header" "imagen" "productos" "footer";
}

.section__index-fondo {
  height: 60vh;
  width: 100%;
  background-image: url(./img/img-index.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.section__index-fondo:hover {
  -webkit-transform: scale(1.3);
  transform: scale(0.9);
}

@media (min-width: 1024px) {
  .section__index-fondo {
    height: 85vh;
    background-image: url(../img/img-index.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.section__index-fondo h2 {
  color: rgba(0, 0, 0, 0.77);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.section__index-fondo-input {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.grid__contenedor__index {
  grid-template-columns: 100%;
  grid-template-rows: 15vh 60vh 15vh 10vh;
  grid-template-areas: "header" "imagen" "productos" "footer";
}

/*# sourceMappingURL=styles.css.map */
